/* Fonts import */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html {
    font-size: 62.5%;
}

img {
    max-width: 100%;
}

body {
    margin: 0;
}

body:before {
    z-index: -1;
    content: "";
    background-image: url('../img/giphy.gif');
    background-size: cover;
    min-height: 100vh;
    position: absolute;
    width: 100%;
}


.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);

}

/* LOGO*/

.MenuLogo {
    width: 10%;
}

/*NAV */

nav {
    ul {
        display: flex;
        list-style-type: none;
        li {
            margin-left: 10px;
            margin-right: 10px;
            list-style: none;
            a {
                text-transform: uppercase;
                color: white;
                text-decoration: none;
                font-size: 2.5rem;
                font-family: 'Open Sans', sans-serif;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}



.content {
    flex: 1;
    display: flex;
}

.columns {
    display: flex;
    flex: 1;
}

.main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.headerText {
    color: white;
    text-align: center;
    text-shadow: 0px 0px 60px #000000;
    p{
        font-size: 3.5rem;
        margin: 0;
    }
    h1{
        font-size: 8rem;
        margin: 0;
        margin-bottom: 10px;
    }
}

.block {
    background-color: rgba(173, 201, 100, 0.5);
    padding: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.top-center {
    align-items: flex-start;
    justify-content: center;
}

.form {
    align-items: center;
    justify-content: center;
    width: 20%;
}

.formFlex {
    display: flex;
    flex-direction: column;
    flex: 1;
    input {
        margin-bottom: 10px;
        font-family: 'Open Sans', sans-serif;
        padding: 10px;
    }
}

button{
    background-color: rgba(128, 92, 21, 0.8);
    font-size: 2rem;
    margin: 0;
    border: none;
    padding: 10px;
}


.footer {
    padding: 20px;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
